# Lab 3

### Team Members:
 - Alex Lopez
 - Chris Haub
 - Erin McClure-Price
 - Chad Kwong

#### Library Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
#import turicreate as tc
from sklearn.preprocessing import StandardScaler

#### Data Import

In [2]:
%%time

#Loading all data file separately 
vle = pd.read_csv('./anonymiseddata/vle.csv')
assessments = pd.read_csv('./anonymiseddata/assessments.csv')
courses = pd.read_csv('./anonymiseddata/courses.csv')
studentAssessments = pd.read_csv('./anonymiseddata/studentAssessment.csv')
studentInfo = pd.read_csv('./anonymiseddata/studentInfo.csv')
studentRegistration = pd.read_csv('./anonymiseddata/studentRegistration.csv')
studentVle = pd.read_csv('./anonymiseddata/studentVle.csv')

CPU times: total: 2.55 s
Wall time: 3.87 s

In [3]:
courses.head()

(10655280, 15)
CPU times: user 3.96 s, sys: 874 ms, total: 4.83 s
Wall time: 4.89 s

  code_module code_presentation  module_presentation_length
0         AAA             2013J                         268
1         AAA             2014J                         269
2         BBB             2013J                         268
3         BBB             2014J                         262
4         BBB             2013B                         240

In [43]:
%%time
# Randomly sampling 4,000 records StudentVle Table with Million Rows.
studentSample = studentInfo.sample(n=4000, random_state = 777)
print(studentVleSample.shape)

# vle
# assessments X
# courses
# studentAssessments X
# studentInfo X
# studentRegistration
# studentVleSample X

df = pd.merge(studentSample, studentVle, on=['code_module', 'code_presentation', 'id_student'])
df2 = pd.merge(studentAssessments, assessments, on='id_assessment')
df = pd.merge(df, df2, on=['code_module', 'code_presentation', 'id_student'])
df = pd.merge(df, courses, on= ['code_module', 'code_presentation'])
print(df.shape)
df.head()

(4000, 6)
(10731823, 23)
CPU times: user 6.84 s, sys: 2.88 s, total: 9.72 s
Wall time: 10.2 s

,code_module,code_presentation,id_student,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,...,date_x,sum_click,id_assessment,date_submitted,is_banked,score,assessment_type,date_y,weight,module_presentation_length
0,CCC,2014J,134190,F,Scotland,A Level or Equivalent,30-40%,0-35,0,120,...,-16,1,24295,21,0,78.0,CMA,18.0,2.0,269
1,CCC,2014J,134190,F,Scotland,A Level or Equivalent,30-40%,0-35,0,120,...,-16,1,24295,21,0,78.0,CMA,18.0,2.0,269
2,CCC,2014J,134190,F,Scotland,A Level or Equivalent,30-40%,0-35,0,120,...,2,1,24295,21,0,78.0,CMA,18.0,2.0,269
3,CCC,2014J,134190,F,Scotland,A Level or Equivalent,30-40%,0-35,0,120,...,2,2,24295,21,0,78.0,CMA,18.0,2.0,269
4,CCC,2014J,134190,F,Scotland,A Level or Equivalent,30-40%,0-35,0,120,...,2,6,24295,21,0,78.0,CMA,18.0,2.0,269

In [6]:
df.dtypes

code_module              object
code_presentation        object
id_student                int64
id_site                   int64
date_x                    int64
sum_click                 int64
gender                   object
region                   object
highest_education        object
imd_band                 object
age_band                 object
num_of_prev_attempts      int64
studied_credits           int64
disability               object
final_result             object
id_assessment             int64
date_submitted            int64
is_banked                 int64
score                   float64
assessment_type          object
date_y                  float64
weight                  float64
dtype: object

In [7]:
# View unique values in each column
# for col in df:
#   print(df[col].unique())

code_module                   0.000000
code_presentation             0.000000
id_student                    0.000000
gender                        0.000000
region                        0.000000
highest_education             0.000000
imd_band                      6.063863
age_band                      0.000000
num_of_prev_attempts          0.000000
studied_credits               0.000000
disability                    0.000000
final_result                  0.000000
id_site                       0.004021
date_x                        0.004021
sum_click                     0.004021
id_assessment                 0.121118
date_submitted                0.121118
is_banked                     0.121118
score                         0.164842
assessment_type               0.121118
date_y                        1.883209
weight                        0.121118
date_registration             0.001936
module_presentation_length    0.000000
activity_type                 0.004021
dtype: float64

In [10]:
allCol.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10744851 entries, 0 to 10744850
Data columns (total 25 columns):
 #   Column                      Dtype
---  ------                      -----
 0   code_module                 object
 1   code_presentation           object
 2   id_student                  int64
 3   gender                      object
 4   region                      object
 5   highest_education           object
 6   imd_band                    object
 7   age_band                    object
 8   num_of_prev_attempts        int64
 9   studied_credits             int64
 10  disability                  object
 11  final_result                object
 12  id_site                     float64
 13  date_x                      float64
 14  sum_click                   float64
 15  id_assessment               float64
 16  date_submitted              float64
 17  is_banked                   float64
 18  score                       float64
 19  assessment_type             object
 20  date_y                      float64
 21  weight                      float64
 22  date_registration           float64
 23  module_presentation_length  int64
 24  activity_type               object
dtypes: float64(10), int64(4), object(11)
memory usage: 2.1+ GB

In [8]:
#Creating variables for indexing continuous and categorical variables
conCol = ['id_student', 'id_site', 'date_x', 'sum_click', 'num_of_prev_attempts', 
          'studied_credits', 'id_assessment ', 'date_submitted', 'is_banked', 'score', 'date_y', 'weight']

catCol = ['code_module ', 'code_presentation', 'gender', 'region', 'highest_education', 
          'imd_band', 'age_band', 'disability', 'final_result', 'assessment_type' ]

TypeError: unhashable type: 'Series'

In [ ]:
#Declaring Scalar object
scl_obj = StandardScaler()

#One hot encoding of ALL categorical variables
OneHotDF = pd.get_dummies(df[catCol],drop_first=False)

#Scaling non-encoded data
conVar = df.select_dtypes(exclude='object')
colnames = pd.Series(conVar.columns)
conVarScaled = scl_obj.fit_transform(conVar)
conVarScaled = pd.DataFrame(data = conVarScaled, columns= colnames)

#Combining with continuous variables from cleaned dataset
OneHotDF = OneHotDF.reset_index()
OneHotDF.pop('index')
OneHotDF = pd.concat([conVarScaled,OneHotDF], axis = 1)
OneHotDF.head()

#https://github.com/jakemdrew/DataMiningNotebooks/blob/master/01.%20Pandas.ipynb

# Data Understanding 2 #
*Visualize the any important attributes appropriately. Important: Provide an interpretation for any charts or graphs.*

# Modeling and Evaluation 1 #
*Train and adjust parameters*

# Modeling and Evaluation 2	#
*Evaluate and Compare*

# Modeling and Evaluation 3 #
*Visualize Results*

# Modeling and Evaluation 4 #
*Summarize the Ramifications*

# Deployment #
*Be critical of your performance and tell the reader how you current model might be usable by other parties. Did you achieve your goals? If not, can you reign in the utility of your modeling? How useful is your model for interested parties (i.e., the companies or organizations that might want to use it)? How would your deploy your model for interested parties? What other data should be collected? How often would the model need to be updated, etc.?*

# Exceptional Work #