# Mini Lab: SVM and Logistic Regression Modeling

### Teammates: Chad Kwong, Erin McClure-Price, Alex Lopez, Chris Haub

## Initial loading of dataset and all related packages

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
from sklearn import linear_model
from sklearn import svm
from sklearn.model_selection import train_test_split

#Suppress futurewarnings
warnings.simplefilter(action='ignore', category=FutureWarning)

#Set Figure Size
plt.rcParams["figure.figsize"] = (20,10)

#Import Dataset from github repo
bankData = pd.read_csv('bank-additional-full.csv', sep=';', na_values="unknown")
#Optional: Add in index column
#bankData.insert(0, 'Sample_ID', range(1,len(bankData)+1))

#Creating variables for indexing continuous and categorical variables
conCol = ['age', 'duration', 'campaign', 'pdays', 'previous', 'emp.var.rate', 
          'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed']
catCol = ['job', 'marital', 'education', 'default', 'housing', 'loan', 
          'contact', 'month', 'day_of_week', 'poutcome', 'y']

## Building Model

In [12]:
bankData2 = bankData.dropna()
# Remove 'default' column
bankData2.drop(['default'], axis=1)
bankData2.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
6,59,admin.,married,professional.course,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [15]:
#define the target variable
y = bankData2.y
y.head()

#https://www.askpython.com/python/examples/split-data-training-and-testing-set

0    no
2    no
3    no
4    no
6    no
Name: y, dtype: object

In [24]:
#create a 80/20 train/test split
x_train,x_test,y_train,y_test=train_test_split(bankData2,y,test_size=0.2)

print("shape of original dataset :", bankData2)
print("shape of input training set:", x_train.shape)
print("shape of output training set:", y_train.shape)
print("shape of input test set :", x_test.shape)
print("shape of output test set:", y_test.shape)

#https://www.askpython.com/python/examples/split-data-training-and-testing-set

shape of original dataset :        age          job  marital            education default housing loan  \
0       56    housemaid  married             basic.4y      no      no   no
2       37     services  married          high.school      no     yes   no
3       40       admin.  married             basic.6y      no      no   no
4       56     services  married          high.school      no      no  yes
6       59       admin.  married  professional.course      no      no   no
...    ...          ...      ...                  ...     ...     ...  ...
41183   73      retired  married  professional.course      no     yes   no
41184   46  blue-collar  married  professional.course      no      no   no
41185   56      retired  married    university.degree      no     yes   no
41186   44   technician  married  professional.course      no      no   no
41187   74      retired  married  professional.course      no     yes   no

         contact month day_of_week  ...  campaign  pdays  previous  \
0      telephone   may         mon  ...         1    999         0
2      telephone   may         mon  ...         1    999         0
3      telephone   may         mon  ...         1    999         0
4      telephone   may         mon  ...         1    999         0
6      telephone   may         mon  ...         1    999         0
...          ...   ...         ...  ...       ...    ...       ...
41183   cellular   nov         fri  ...         1    999         0
41184   cellular   nov         fri  ...         1    999         0
41185   cellular   nov         fri  ...         2    999         0
41186   cellular   nov         fri  ...         1    999         0
41187   cellular   nov         fri  ...         3    999         1

          poutcome emp.var.rate  cons.price.idx  cons.conf.idx  euribor3m  \
0      nonexistent          1.1          93.994          -36.4      4.857
2      nonexistent          1.1          93.994          -36.4      4.857
3      nonexistent          1.1          93.994          -36.4      4.857
4      nonexistent          1.1          93.994          -36.4      4.857
6      nonexistent          1.1          93.994          -36.4      4.857
...            ...          ...             ...            ...        ...
41183  nonexistent         -1.1          94.767          -50.8      1.028
41184  nonexistent         -1.1          94.767          -50.8      1.028
41185  nonexistent         -1.1          94.767          -50.8      1.028
41186  nonexistent         -1.1          94.767          -50.8      1.028
41187      failure         -1.1          94.767          -50.8      1.028

       nr.employed    y
0           5191.0   no
2           5191.0   no
3           5191.0   no
4           5191.0   no
6           5191.0   no
...            ...  ...
41183       4963.6  yes
41184       4963.6   no
41185       4963.6   no
41186       4963.6  yes
41187       4963.6   no

[30488 rows x 21 columns]
shape of input training set: (24390, 21)
shape of output training set: (24390,)
shape of input test set : (6098, 21)
shape of output test set: (6098,)

## I'm an idiot, we have to convert columns to numeric or remove them. -Erin

In [29]:
#Create an object for the linear regression model
LR_model = linear_model.LinearRegression()
#Train the model using the training sets
LR_model.fit(x_train, y_train)
#Use the test sets to make predictions
#LR_predict = LR_model.predict(x_test)

ValueError: could not convert string to float: 'retired'

## Evaluating Model